
* {
    padding: 0;
    margin: 0;font-family: 'Josefin Slab';
}

body{
    background-color: #f3f3f3;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.fundo {
    background: linear-gradient(180deg, #C29287 9.95%, #C99A90 24.51%, #D1A59A 35.54%, #D5A99F 46.56%, #DA958B 57.58%, #E9655D 74.12%);
    border-radius: 40px;
    margin: 10px 0px 10px 10px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.logo, .efeito-header {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a {
    list-style: none;
    color: #f3f3f3;
    padding: 3rem;
    font-size: 40px;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: #d5a99fcc;
    border-radius: 100rem;
}

main {
    display: grid;
    columns: 2;
    grid-template-columns: 1fr;
}

#quemSomos {
    display: flex;
    height: 580px;
    margin-top: 50px;
}

#quemSomos .texto {
    font-size: 48px;
    text-align: end;
    width: 855px;
    margin-left: 200px;
    margin-top: 50px;
}

#quemSomos img {
    margin-left: 200px;    
}

main img{
    display: flex;
    max-width: 850px;
    max-height: 580px;
}

.porqueNos {
    display: flex;
    height: 580px;
    margin-top: 50px;
}

.porqueNos .texto {
    font-size: 48px;
    text-align: start;
    width: 855px;
    margin-left: 200px;
    margin-top: 50px;
}

.porqueNos img {
    margin-left: 200px;    
}

#diferenciais img {
    margin-left: 200px;    
}

.fixed-image {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    z-index: 5;
    margin: 50px;
}